@charset "utf-8";
/**
 * flex布局
 * @param  {string} @flex-direction:column  主轴的方向
 * row：主轴为水平方向，起点在左端。
 * row-reverse：主轴为水平方向，起点在右端。
 * column：主轴为垂直方向，起点在上沿。
 * column-reverse：主轴为垂直方向，起点在下沿。
 * @param  {string} @justify-content:center 在主轴上的对齐方式
 * flex-start：左对齐
 * flex-end：右对齐
 * center： 居中
 * space-between：两端对齐，项目之间的间隔都相等
 * @param  {string} @align-items:center     在交叉轴上如何对齐。
 * flex-start：交叉轴的起点对齐。
 * flex-end：交叉轴的终点对齐。
 * center：交叉轴的中点对齐。
 * baseline: 项目的第一行文字的基线对齐。
 * stretch：如果项目未设置高度或设为auto，将占满整个容器的高度。
 *
 */
/**
 * flex子元素
 * @param  {boolen} @display 是否允许伸缩
 */
body,
html {
  width: 100%;
  height: 100%;
}
.star {
  height: 0.29rem;
  padding: 0.02rem;
}
.star .star_box {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 1.33rem;
  height: 0.28rem;
  position: relative;
  background: #d0dcee;
}
.star .star_box .gradient-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fda131;
}
.star .star_box img {
  width: 100%;
  height: 0.28rem;
  z-index: 2;
}
.default-none {
  width: 100%;
}
.default-none .no_img {
  width: 100%;
  margin: 0 auto;
}
.default-none .no_img img {
  width: 100%;
}
.default-none .no_tip {
  width: 100%;
  font-size: 0.24rem;
  text-align: center;
  margin-top: 0.2rem;
  color: #323232;
}
.load-over,
.loadMore {
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 0.24rem;
  margin: 0.08rem 0;
}
.loading_w {
  width: 0.6rem;
  margin: 0 auto;
}
.loading_w img {
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.container_box {
  width: 100%;
  height: 100%;
  padding: 1.44rem 0.35rem 0;
  box-sizing: border-box;
  background: linear-gradient(94deg, #20222F 0%, #262836 100%);
  position: relative;
}
.container_box .bg_bt {
  width: 100%;
  height: 2.33rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.container_box .bg_bt img {
  width: 100%;
  height: 100%;
}
.container_box .letterBox {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #DBB08B 0%, #F8E6D2 100%);
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.23rem 0.26rem;
  box-sizing: border-box;
}
.container_box .letterBox * {
  max-width: 100% !important;
  overflow-x: auto;
}
.container_box .letterBox .letter {
  width: 100%;
  height: 100%;
  border: 0.03rem solid #AF7F5F;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.46rem 0.3rem 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}
.container_box .letterBox .letter .title {
  width: 100%;
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.54rem;
  color: #1E1E2C;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  background: linear-gradient(85deg, #662B0B 0%, #CB6F1B 91.69921875%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container_box .letterBox .letter .createtime {
  width: 100%;
  text-align: center;
  font-size: 0.24rem;
  color: #1E1E2C;
  background: linear-gradient(85deg, #662B0B 0%, #CB6F1B 91.69921875%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0.14rem 0 0.46rem;
}
.container_box .letterBox .letter .content {
  font-size: 0.28rem;
  line-height: 1.5;
}
.container_box .letterBox .letter p {
  font-size: 0.28rem;
  color: #333333;
  line-height: 0.48rem;
  word-break: break-all;
}
.container_box .letterBox .letter h1,
.container_box .letterBox .letter h2,
.container_box .letterBox .letter h3,
.container_box .letterBox .letter h4,
.container_box .letterBox .letter h5,
.container_box .letterBox .letter h6 {
  word-break: break-all;
}
.container_box .letterBox .letter h1 {
  font-size: 0.36rem;
  line-height: 0.46rem;
}
.container_box .letterBox .letter h2 {
  font-size: 0.34rem;
}
.container_box .letterBox .letter h3 {
  font-size: 0.32rem;
}
.container_box .letterBox .letter h4 {
  font-size: 0.3rem;
}
.container_box .letterBox .letter h5,
.container_box .letterBox .letter h6 {
  font-size: 0.28rem;
}
.container_box .letterBox .letter blockquote {
  padding: 0.2rem 0.3rem;
  margin: 0 0 0.3rem;
  font-size: 0.32rem;
  border-left: 0.05rem solid #ddd;
}
.container_box .letterBox .letter pre {
  display: block;
  padding: 0.18rem;
  margin: 0 0 0.2rem;
  font-size: 0.22rem;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 0.02rem solid #ccc;
  border-radius: 0.04rem;
}
.container_box .letterBox .letter img {
  width: 100% !important;
  margin: 0.2rem 0;
}
.page_header {
  width: 100%;
  height: 1.36rem;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0.23rem;
  padding-right: 0.23rem;
  padding-top: 0.48rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 999;
}
.page_header_main {
  width: 100%;
  position: relative;
}
.page_header_main_back {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  left: 0;
  top: 0;
}
.page_header_main_back img {
  width: 100%;
  height: 100%;
}
.page_header_main_title {
  width: 100%;
  font-size: 0.34rem;
  color: #ffffff;
  text-align: center;
}
.page_header_main_btns {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.page_header_main_btns > div {
  width: 0.48rem;
  height: 0.48rem;
}
.page_header_main_btns > div img {
  width: 100%;
  height: 100%;
}
