@charset "utf-8";
/**
 * flex布局
 * @param  {string} @flex-direction:column  主轴的方向
 * row：主轴为水平方向，起点在左端。
 * row-reverse：主轴为水平方向，起点在右端。
 * column：主轴为垂直方向，起点在上沿。
 * column-reverse：主轴为垂直方向，起点在下沿。
 * @param  {string} @justify-content:center 在主轴上的对齐方式
 * flex-start：左对齐
 * flex-end：右对齐
 * center： 居中
 * space-between：两端对齐，项目之间的间隔都相等
 * @param  {string} @align-items:center     在交叉轴上如何对齐。
 * flex-start：交叉轴的起点对齐。
 * flex-end：交叉轴的终点对齐。
 * center：交叉轴的中点对齐。
 * baseline: 项目的第一行文字的基线对齐。
 * stretch：如果项目未设置高度或设为auto，将占满整个容器的高度。
 *
 */
/**
 * flex子元素
 * @param  {boolen} @display 是否允许伸缩
 */
body,
html {
  width: 100%;
  height: 100%;
}
.star {
  height: 0.29rem;
  padding: 0.02rem;
}
.star .star_box {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 1.33rem;
  height: 0.28rem;
  position: relative;
  background: #d0dcee;
}
.star .star_box .gradient-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fda131;
}
.star .star_box img {
  width: 100%;
  height: 0.28rem;
  z-index: 2;
}
.default-none {
  width: 100%;
}
.default-none .no_img {
  width: 100%;
  margin: 0 auto;
}
.default-none .no_img img {
  width: 100%;
}
.default-none .no_tip {
  width: 100%;
  font-size: 0.24rem;
  text-align: center;
  margin-top: 0.2rem;
  color: #323232;
}
.load-over,
.loadMore {
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 0.24rem;
  margin: 0.08rem 0;
}
.loading_w {
  width: 0.6rem;
  margin: 0 auto;
}
.loading_w img {
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: url('../images/bg0.png') no-repeat #F5F5F7;
  background-size: 100% auto;
}
#mescrollOrderDetails {
  position: fixed;
  top: 1.5rem;
  bottom: 0;
  height: auto;
}
.container {
  width: 100%;
  padding: 0 0.35rem 1.5rem 0.35rem;
  overflow-y: auto;
}
.container_tip .order_status {
  font-size: 0.42rem;
  font-weight: bold;
  color: #FFFFFF;
}
.container_tip .order_tip {
  width: 100%;
  font-size: 0.24rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 0.16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container_shop {
  margin-top: 0.2rem;
}
.container_shop_item {
  background-color: #FFFFFF;
  padding: 0.4rem 0.3rem;
  box-shadow: 0 0.04rem 0.14rem 0.04rem rgba(193, 193, 193, 0.15);
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
.container_shop_item .shop_info_name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container_shop_item .shop_info_star {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0.1rem;
}
.container_shop_item .shop_info_star_count {
  color: #FE4601;
  font-size: 0.18rem;
  margin-left: 0.16rem;
}
.container_shop_item .shop_info_star_count span {
  font-size: 0.24rem;
}
.container_shop_item .goods_info {
  margin-top: 0.4rem;
}
.container_shop_item .goods_info_item {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.container_shop_item .goods_info_item_image {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.container_shop_item .goods_info_item_image img {
  width: 100%;
  height: 100%;
}
.container_shop_item .goods_info_item_detail {
  flex: 1;
  width: 0;
  margin: 0 0.2rem;
}
.container_shop_item .goods_info_item_detail .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.28rem;
  color: #323232;
  font-weight: bold;
}
.container_shop_item .goods_info_item_detail .orders {
  margin-top: 0.16rem;
  color: #848484;
  font-size: 0.24rem;
}
.container_shop_item .goods_info_item_count {
  flex-shrink: 0;
  text-align: right;
}
.container_shop_item .goods_info_item_count .price {
  color: #323232;
  font-size: 0.24rem;
}
.container_shop_item .goods_info_item_count .price span {
  font-size: 0.3rem;
}
.container_shop_item .goods_info_item_count .count {
  color: #848484;
  font-size: 0.24rem;
  margin-top: 0.16rem;
}
.container_shop_item .vip_info > div {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.container_shop_item .vip_info > div .tip {
  font-size: 0.28rem;
  color: #323232;
  font-weight: bold;
}
.container_shop_item .vip_info > div .discount {
  font-size: 0.28rem;
  color: #FE4601;
}
.container_shop_item .vip_info > div .coupons,
.container_shop_item .vip_info > div .home_score {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.container_shop_item .vip_info > div .coupons_count,
.container_shop_item .vip_info > div .home_score_count {
  font-size: 0.28rem;
  color: #FE4601;
}
.container_shop_item .total_info {
  width: 100%;
  margin-top: 0.6rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.container_shop_item .total_info_discount {
  font-size: 0.28rem;
  color: #323232;
}
.container_shop_item .total_info_discount span {
  color: #FF502E;
  margin-left: 0.1rem;
}
.container_shop_item .total_info_price {
  font-size: 0.28rem;
  color: #323232;
  margin-left: 0.4rem;
}
.container_shop_item .total_info_price span {
  font-size: 0.36rem;
  font-weight: bold;
  margin-left: 0.1rem;
}
.container_score {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0.04rem 0.14rem 0.04rem rgba(193, 193, 193, 0.15);
  border-radius: 0.2rem;
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.container_score_info .tip {
  height: 0.27rem;
  font-size: 0.28rem;
  font-weight: bold;
  color: #323232;
  margin-bottom: 0.2rem;
}
.container_score_info .tip span {
  font-size: 0.24rem;
  font-weight: normal;
  color: #848484;
}
.container_score_info .content {
  font-size: 0.24rem;
  font-weight: 500;
  color: #848484;
}
.container_score_do .ischoose {
  text-align: right;
  margin-bottom: 0.1rem;
}
.container_score_do .detail {
  font-size: 0.24rem;
  color: #848484;
}
.container_score_do .detail span {
  color: #FF502E;
}
.container_address,
.container_order,
.container_delivery {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.4rem 0.3rem 0.2rem 0.3rem;
}
.container_address > div:first-child,
.container_order > div:first-child,
.container_delivery > div:first-child {
  font-size: 0.34rem;
  padding: 0 0.2rem 0.2rem 0.2rem;
  font-weight: bold;
  color: #323232;
  border-bottom: 0.02rem solid #DEDEDE;
  margin-bottom: 0.2rem;
}
.container_address > div:last-child > div,
.container_order > div:last-child > div,
.container_delivery > div:last-child > div {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.container_address > div:last-child > div .tip,
.container_order > div:last-child > div .tip,
.container_delivery > div:last-child > div .tip {
  flex-shrink: 0;
  margin-right: 0.2rem;
  font-size: 0.3rem;
  color: #818791;
}
.container_address > div:last-child > div .content,
.container_order > div:last-child > div .content,
.container_delivery > div:last-child > div .content {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-size: 0.3rem;
  color: #323232;
}
.container_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  background-color: #FFFFFF;
  padding: 0 0.35rem;
}
.container_footer .order_operation_group {
  width: 100%;
  height: 1.1rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.container_footer .order_operation_group .order_btn {
  width: 2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  border: 0.02rem solid rgba(166, 175, 183, 0.55);
  border-radius: 0.39rem;
  text-align: center;
  font-size: 0.3rem;
  color: #848484;
}
.container_footer .order_operation_group .order_btn.ml {
  margin-left: 0.2rem;
}
.container_footer .order_operation_group .order_btn.btn_red {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(-90deg, #FF4F36 0%, #FF714B 100%);
}
.container_footer .order_operation_group .order_btn.btn_green {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(-90deg, #3AC3C0 0%, #59D3CD 100%);
}
.layui-layer-title {
  padding: 0 !important;
  width: 100%;
  height: 42px !important;
  line-height: 42px !important;
  text-align: center;
  border: none !important;
  font-size: 0.28rem !important;
}
.layui-layer-awesome .layui-layer-btn .layui-layer-btn1 {
  color: #333333 !important;
}
.layui-layer-awesome .layui-layer-content {
  padding: 0.4rem 0.25rem !important;
}
.layui-layer-awesome-msg .layui-layer-content {
  padding: 0.25rem 0.4rem !important;
  font-size: 0.26rem !important;
}
.changepricenum {
  display: inline-block;
  border: 0.01rem solid #eeeeee;
  height: 0.6rem;
  width: 2rem;
  text-align: center;
  color: #686868;
}
.page_header {
  z-index: 3;
  width: 100%;
  height: 1.36rem;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0.23rem;
  padding-right: 0.23rem;
  padding-top: 0.48rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.page_header_main {
  width: 100%;
  position: relative;
}
.page_header_main_back {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  left: 0;
  top: 0;
}
.page_header_main_back img {
  width: 100%;
  height: 100%;
}
.page_header_main_title {
  width: 100%;
  font-size: 0.34rem;
  color: #323232;
  text-align: center;
}
.page_header_main_btns {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.page_header_main_btns > div {
  width: 0.48rem;
  height: 0.48rem;
}
.page_header_main_btns > div img {
  width: 100%;
  height: 100%;
}
