@charset "utf-8";
/**
 * flex布局
 * @param  {string} @flex-direction:column  主轴的方向
 * row：主轴为水平方向，起点在左端。
 * row-reverse：主轴为水平方向，起点在右端。
 * column：主轴为垂直方向，起点在上沿。
 * column-reverse：主轴为垂直方向，起点在下沿。
 * @param  {string} @justify-content:center 在主轴上的对齐方式
 * flex-start：左对齐
 * flex-end：右对齐
 * center： 居中
 * space-between：两端对齐，项目之间的间隔都相等
 * @param  {string} @align-items:center     在交叉轴上如何对齐。
 * flex-start：交叉轴的起点对齐。
 * flex-end：交叉轴的终点对齐。
 * center：交叉轴的中点对齐。
 * baseline: 项目的第一行文字的基线对齐。
 * stretch：如果项目未设置高度或设为auto，将占满整个容器的高度。
 *
 */
/**
 * flex子元素
 * @param  {boolen} @display 是否允许伸缩
 */
body,
html {
  width: 100%;
  height: 100%;
}
.star {
  height: 0.29rem;
  padding: 0.02rem;
}
.star .star_box {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 1.33rem;
  height: 0.28rem;
  position: relative;
  background: #d0dcee;
}
.star .star_box .gradient-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fda131;
}
.star .star_box img {
  width: 100%;
  height: 0.28rem;
  z-index: 2;
}
.default-none {
  width: 100%;
}
.default-none .no_img {
  width: 100%;
  margin: 0 auto;
}
.default-none .no_img img {
  width: 100%;
}
.default-none .no_tip {
  width: 100%;
  font-size: 0.24rem;
  text-align: center;
  margin-top: 0.2rem;
  color: #323232;
}
.load-over,
.loadMore {
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 0.24rem;
  margin: 0.08rem 0;
}
.loading_w {
  width: 0.6rem;
  margin: 0 auto;
}
.loading_w img {
  width: 100%;
}
body {
  background: #F5F5F7;
}
#mescrollOrderRecent_search {
  position: fixed;
  top: 1.36rem;
  bottom: 0;
  height: auto;
}
.order_list {
  width: 100%;
  height: auto;
  margin-top: 0.3rem;
  padding: 0 0.3rem;
}
.order_list .order_item {
  background-color: #FFFFFF;
  padding: 0.4rem 0.3rem;
  box-shadow: 0 0.04rem 0.14rem 0.04rem rgba(193, 193, 193, 0.15);
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
.order_list .order_item .shop_info_title {
  width: 100%;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.order_list .order_item .shop_info_title_name {
  max-width: 58%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order_list .order_item .shop_info_title_status {
  max-width: 38%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #848484;
}
.order_list .order_item .shop_info_star {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0.1rem;
}
.order_list .order_item .shop_info_star_count {
  color: #FE4601;
  font-size: 0.18rem;
  margin-left: 0.16rem;
}
.order_list .order_item .shop_info_star_count span {
  font-size: 0.24rem;
}
.order_list .order_item .goods_info {
  margin-top: 0.4rem;
}
.order_list .order_item .goods_info_item {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.order_list .order_item .goods_info_item_image {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.order_list .order_item .goods_info_item_image img {
  width: 100%;
  height: 100%;
}
.order_list .order_item .goods_info_item_detail {
  flex: 1;
  width: 0;
  margin: 0 0.2rem;
}
.order_list .order_item .goods_info_item_detail .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.28rem;
  color: #323232;
  font-weight: bold;
}
.order_list .order_item .goods_info_item_detail .orders {
  margin-top: 0.16rem;
  color: #848484;
  font-size: 0.24rem;
}
.order_list .order_item .goods_info_item_count {
  flex-shrink: 0;
  text-align: right;
}
.order_list .order_item .goods_info_item_count .price {
  color: #323232;
  font-size: 0.24rem;
}
.order_list .order_item .goods_info_item_count .price span {
  font-size: 0.3rem;
}
.order_list .order_item .goods_info_item_count .count {
  color: #848484;
  font-size: 0.24rem;
  margin-top: 0.16rem;
}
.order_list .order_item .goods_info_item1 {
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.order_list .order_item .goods_info_item1_image {
  flex: 1;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-x: auto;
}
.order_list .order_item .goods_info_item1_image_list {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.1rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 0.1rem;
}
.order_list .order_item .goods_info_item1_image_list img {
  width: 100%;
  height: 100%;
}
.order_list .order_item .goods_info_item1_count {
  flex-shrink: 0;
  margin-left: 0.2rem;
  text-align: right;
}
.order_list .order_item .goods_info_item1_count .price {
  color: #323232;
  font-size: 0.24rem;
}
.order_list .order_item .goods_info_item1_count .price span {
  font-size: 0.3rem;
}
.order_list .order_item .goods_info_item1_count .count {
  color: #848484;
  font-size: 0.24rem;
  margin-top: 0.16rem;
}
.order_btn_group {
  width: 100%;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.order_btn_group .order_btn {
  width: 1.6rem;
  height: 0.58rem;
  line-height: 0.58rem;
  border: 0.02rem solid rgba(166, 175, 183, 0.55);
  border-radius: 0.29rem;
  text-align: center;
  font-size: 0.26rem;
  color: #848484;
}
.order_btn_group .order_btn.ml {
  margin-left: 0.2rem;
}
.order_btn_group .order_btn.business_pay {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(-90deg, #FF4F36 0%, #FF714B 100%);
}
.order_btn_group .order_btn.business_evaluate {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(-90deg, #3AC3C0 0%, #59D3CD 100%);
}
.layui-layer-title {
  padding: 0 !important;
  width: 100%;
  height: 42px !important;
  line-height: 42px !important;
  text-align: center;
  border: none !important;
  font-size: 0.28rem !important;
}
.layui-layer-awesome .layui-layer-btn .layui-layer-btn1 {
  color: #333333 !important;
}
.layui-layer-awesome .layui-layer-content {
  padding: 0.4rem 0.25rem !important;
}
.layui-layer-awesome-msg .layui-layer-content {
  padding: 0.25rem 0.4rem !important;
  font-size: 0.26rem !important;
}
.changepricenum {
  display: inline-block;
  border: 0.01rem solid #eeeeee;
  height: 0.6rem;
  width: 2rem;
  text-align: center;
  color: #686868;
}
.page_header {
  z-index: 2;
  width: 100%;
  height: 1.36rem;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0.23rem;
  padding-right: 0.23rem;
  padding-top: 0.48rem;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.page_header_main {
  width: 100%;
  position: relative;
}
.page_header_main_back {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  left: 0;
  top: 0;
}
.page_header_main_back img {
  width: 100%;
  height: 100%;
}
.page_header_main_title {
  width: 100%;
  font-size: 0.34rem;
  color: #323232;
  text-align: center;
}
.page_header_main_btns {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.page_header_main_btns > div {
  width: 0.48rem;
  height: 0.48rem;
}
.page_header_main_btns > div img {
  width: 100%;
  height: 100%;
}
.page_header_main_search {
  width: 100%;
  display: -webkit-box;
  /* 老版本语法 : Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法 : Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法 : Chrome 21+ */
  display: flex;
  /* 新版本语法 : Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 0.55rem;
}
.page_header_main_search_txt {
  flex: 1;
}
.page_header_main_search_txt input {
  width: 100%;
  height: 0.58rem;
  line-height: 0.58rem;
  background: #FFFFFF;
  border-radius: 0.34rem;
  font-size: 0.26rem;
  padding-left: 0.2rem;
}
.page_header_main_search_btn {
  font-size: 0.24rem;
  margin-left: 0.12rem;
  flex-shrink: 0;
  width: 1.1rem;
  height: 0.58rem;
  line-height: 0.58rem;
  background: linear-gradient(0deg, #FD9B25 0%, #FDA943 100%);
  border-radius: 0.29rem;
  color: #ffffff;
  text-align: center;
}
