<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>慧管家会员</title>
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/welfar_smart.css">
    <script src="../js/flexible.js"></script>
</head>

<body>
    <div class="page_header">
        <div class="page_header_main">
            <div class="page_header_main_back">
                <img src="../images/hback_b.png">
            </div>
            <div class="page_header_main_title">慧管家会员</div>
        </div>
    </div>
    <div class="container_box adjustHeight">
        <div class="container_box_vip">
            <div class="title_g">
                <div class="title_g_left">店铺会员权益</div>
                <div class="title_g_right">
                    <div>更多</div>
                    <div>
                        <img src="../images/icons_more.png">
                    </div>
                </div>
            </div>
            <div class="container_box_vip_main"></div>
        </div>
        <div class="container_box_coupons">
            <div class="title_g">
                <div class="title_g_left">店铺优惠券</div>
            </div>
            <div class="container_box_coupons_main"></div>
        </div>
    </div>
    <script src="../js/jquery-1.10.1.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/webViewJavascriptBridge.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/template.js"></script>
    <script src="../js/jquery.housekeeper.sha1ajax.js"></script>
    <!-- 会员权益模板 -->
    <script type="text/html" id="templateVip">
        {{each records as value i}}
        <div class="vip_item" style="background: url('{{value.phoneImage}}') no-repeat;background-size:cover;">
            <div class="vip_item_top">
                <div class="vip_item_top_tip1">{{value.storeName}}</div>
                <div class="vip_item_top_map" 
                data-shopname="{{value.storeName}}"
                data-shopaddress="{{value.address}}"
                data-shoplongitude="{{value.longitude}}"
                data-shoplatitude="{{value.latitude}}"
                >
                    <img src="../images/location_w.png">
                </div>
            </div>
            <div class="vip_item_tip2">享<span>{{value.discount / 10}}</span>折优惠</div>
            {{if !value.enable}}
                <div class="vip_item_btn" style="display: inline-block" >已下架</div>
            {{else if value.isMember}}
                <div class="vip_item_btn toShop" data-shopmanageid="{{value.storeId}}" style="display: inline-block" >进入店铺</div>
            {{else}}
                <div class="vip_item_btn takeVip" data-vipid="{{value.id}}" data-shopmanageid="{{value.storeId}}" style="display: inline-block" >领取权益</div>
            {{/if}}
            {{if value.scope == 'OFFLINE'}}
            <div style="display: inline-block;float: right;height: 0.48rem;line-height: 0.48rem;font-size: 0.18rem;text-align: center;color:white" >仅支持线下</div>
            {{/if}}
        </div>
        {{/each}}
    </script>
    <!-- 优惠券模板 -->
    <script type="text/html" id="templateCoupons">
        {{each records as value i}}
        <div style="position:relative;">
            <div class="coupons_item">
                <div>
                    {{if value.type == "SUBTRACTION"}}
                    <div class="coupons_item_price">￥<span>{{value.amountReduction}}</span></div>
                    {{else if value.type == "DISCOUNT"}}
                    <div class="coupons_item_price">￥<span>{{value.discount / 10}}折</span></div>
                    {{/if}}
                    {{if value.scope == 'OFFLINE'}}
                    <div style="font-size: 0.18rem;text-align: center;color:#523318" >仅支持线下</div>
                    {{/if}}
                </div>
                <div class="coupons_item_content">
                    <div class="tip">{{value.busStore.name}}</div>
                    <div class="content">满{{value.initAmount}}元使用，{{value.endDate.length > 10 ? value.endDate.substr(0,10) : value.endDate}}到期</div>
                </div>            

                {{if value.expire}}
                    <div class="coupons_item_btn">已过期</div>
                {{else if !value.enable }}
                    <div class="coupons_item_btn">已下架</div>
                {{else if value.use == 0}}
                    <div class="coupons_item_btn takeCoupons" data-couponsid="{{value.id}}" data-shopmanageid="{{value.storeId}}" data-scope="{{value.scope}}">立即领取</div>
                {{else if value.use == 1 && value.scope != 'OFFLINE'}}
                    <div class="coupons_item_btn toUse" data-shopmanageid="{{value.storeId}}">立即使用</div>
                {{else if value.use == 2}}
                    <div class="coupons_item_btn">已使用</div>
                {{/if}}
    
            </div>
            {{if value.expire}}
                <div  style="width:100%;height:100%;background:#fff;position:absolute;top:0;opacity:0.5"/>
            {{/if}}
        </div>

        {{/each}}
    </script>
    <script>
        $(function () {
            var accId = getQueryString("accId") !== null ? getQueryString("accId") : getCookie("accId");
            var familyInfoId = getQueryString("familyInfoId") !== null ? getQueryString("familyInfoId") : getCookie("familyInfoId");
            var communityId = getQueryString("communityId") !== null ? getQueryString("communityId") : getCookie("communityId");
            var pageIndex = 1;
            var isLoading = true;

            getVipList();
            getCouponsList();

            // 获取店铺会员权益
            function getVipList() {
                $.slAjax({
                    url: root + 'bus/rest/vip/page',
                    type: 'get',
                    data: {
                        familyId: familyInfoId,
                        scopeEnum: 'OFFLINE',
                        current: 1,
                        size: 3
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            if (res.data && res.data.records && res.data.total > 0) {
                                for(var i = 0 ; i < res.data.records.length; i++){
                                    if(res.data.records[i].level == 1){
                                        res.data.records[i].phoneImage = "../images/vip_card_bg_01.png";
                                    }
                                    else if(res.data.records[i].level == 2){
                                        res.data.records[i].phoneImage = "../images/vip_card_bg_02.png";
                                    }
                                    else if(res.data.records[i].level == 3){
                                        res.data.records[i].phoneImage = "../images/vip_card_bg_03.png";
                                    }
                                }
                                $('.container_box_vip_main').html(template("templateVip", res.data));

                                // 查看更多
                                if (res.data.total > 3) {
                                    $('.container_box_vip .title_g_right').css('visibility', 'visible');
                                    $('.container_box_vip .title_g_right').unbind('click').bind('click', function () {
                                        window.location.href = './welfar_vip.html?familyInfoId=' + familyInfoId + '&communityId=' + communityId + '&accId=' + accId + '&accessToken=' + accessToken;
                                    })
                                }
                                // 领取权益、进入店铺
                                vipDo();

                                // 在地图查看店铺地址
                                $(".vip_item_top_map").unbind('click').bind('click', function () {
                                    var shopName = $(this).data('shopname');
                                    var shopAddress = $(this).data('shopaddress');
                                    var shopLongitude = $(this).data('shoplongitude');
                                    var shopLatitude = $(this).data('shoplatitude');

                                    callHandlerBridge('shopAddressNavigation', {
                                        shopName: shopName,
                                        shopAddress: shopAddress,
                                        shopLongitude: shopLongitude,
                                        shopLatitude: shopLatitude
                                    }, function (response) { });
                                })

                            } else {
                                $(".container_box_vip_main").html("<div class='default-none'><div class='no_tip'>暂无会员权益</div></div>");
                            }
                        }
                    }
                });
            }

            // 获取店铺优惠券
            function getCouponsList() {
                $.slAjax({
                    url: root + 'bus/rest/coupons/page',
                    type: "get",
                    data: {
                        familyId: familyInfoId,
                        current: pageIndex,
                        size: PAGESIZE
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            if (res.data && res.data.records && res.data.records.length > 0) {
                                checkCouponEnd(res.data.records)
                                $('.container_box_coupons_main').html(template("templateCoupons", res.data));
                                couponsDo();
                                if (res.data.records.length < PAGESIZE) {
                                    $(".container_box_coupons_main").append('<div class="load-over">没有更多...</div>');
                                } else {
                                    $('.container_box').scroll(function () {
                                        var scrollTop = $(this).scrollTop();  // 滚动高度
                                        var viewHeight = $(this).get(0).offsetHeight; // 元素可视高度
                                        var docHeight = $(this).get(0).scrollHeight; // 元素可视高度 + 溢出高度（最大滚动高度）

                                        if ((docHeight - scrollTop - viewHeight <= 100) && isLoading) {
                                            isLoading = false;
                                            pageIndex++;
                                            $.slAjax({
                                                url: root + 'bus/rest/coupons/page',
                                                type: "get",
                                                data: {
                                                    familyId: familyInfoId,
                                                    current: pageIndex,
                                                    size: PAGESIZE
                                                },
                                                beforeSend: function () {
                                                    $(".container_box_coupons_main").append('<div class="loading_w"><img src="../images/loading.gif"></div>');
                                                },
                                                success: function (data) {
                                                    $(".container_box_coupons_main .loading_w").remove();
                                                    if (data.code == 0) {
                                                        if (data.data && data.data.records && data.data.records.length > 0) {
                                                            checkCouponEnd(data.data.records)
                                                            $('.container_box_coupons_main').append(template("templateCoupons", data.data));
                                                            isLoading = true;
                                                            couponsDo();
                                                        } else {
                                                            $(".container_box_coupons_main").append('<div class="load-over">没有更多...</div>');
                                                        }
                                                    } else {
                                                        layer.msg(data.msg);
                                                    }
                                                }
                                            });
                                        }
                                    });
                                }
                            } else {
                                $(".container_box_coupons_main").html("<div class='default-none'><div class='no_tip'>暂无优惠券</div></div>");
                            }
                        }
                    }
                });
            }

            function checkCouponEnd(data){
                let nowTime = new Date().valueOf();
                for(var i = 0; i < data.length; i++){
                    var item = data[i];
                    let endTime = new Date(item.endDate).valueOf();
                    if(nowTime >= endTime){
                        item.expire = true;
                    }else{
                        item.expire = false;
                    }
                }
            }

            // 领取会员权益、进入店铺
            function vipDo() {
                $('.vip_item_btn').unbind('click').bind('click', function () {
                    var this_ = $(this);
                    var vipId = this_.data('vipid');
                    var shopManageId = $(this).data('shopmanageid');
                    if (this_.hasClass('takeVip')) {
                        var request = {};
                        request['familyId'] = familyInfoId;
                        request['vipId'] = vipId;
                        $.slAjax({
                            url: root + 'bus/rest/member/vip',
                            type: 'post',
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify(request),
                            success: function (res) {
                                if (res.code == 0) {
                                    this_.text('进入店铺')
                                    this_.addClass('toShop').removeClass('takeVip');
                                } else {
                                    layer.msg(res.msg)
                                }
                            }
                        });
                    } else if (this_.hasClass('toShop')) {
                        window.location.href = './business_shop_detail.html?shopManageId=' + shopManageId + '&communityId=' + communityId + '&accId=' + accId + '&familyInfoId=' + familyInfoId + '&accessToken=' + accessToken;
                    }
                })
            }

            // 领取优惠券、进入店铺
            function couponsDo() {
                $('.coupons_item_btn').unbind('click').bind('click', function () {
                    var this_ = $(this);
                    var shopCouponsId = this_.data('couponsid');
                    var shopManageId = $(this).data('shopmanageid');
                    var scope = $(this).data('scope');
                    var requestData = {};
                    requestData["couponsId"] = shopCouponsId;
                    requestData["familyId"] = familyInfoId;
                    if (this_.hasClass('takeCoupons')) {
                        $.slAjax({
                            url: root + 'bus/rest/member/coupons',
                            type: "post",
                            contentType:"application/json",
                            data: JSON.stringify(requestData),
                            success: function (res) {
                                if (res.code == 0) {
                                    if(scope != 'OFFLINE'){
                                        this_.text('立即使用')
                                    }
                                    this_.addClass('toUse').removeClass('takeCoupons');
                                } else {
                                    layer.msg(res.msg)
                                }
                            }
                        });
                    } else if (this_.hasClass('toUse')) {
                        window.location.href = './business_shop_detail.html?shopManageId=' + shopManageId + '&communityId=' + communityId + '&accId=' + accId + '&familyInfoId=' + familyInfoId + '&accessToken=' + accessToken;
                    }
                })
            }

        })
    </script>
</body>

</html>